# Entornos Virtuales
.venv/
venv/
ENV/
env/
*.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Otros
*.log
.vscode/
